.features_content {
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.features_content h2 {
    margin-top: 5%;
}

.features_content b {
    margin-inline: 10%;
}